# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
sm_env/
env/
venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# VSCode / IDEs
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db
